* {
    margin: 0;
    padding: 0;
    background-color: rgb(163, 163, 163);    
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset {
  padding: 2em;  
}

button {
    width: 8em;
    height: 2em;
    margin-top: 1em;
    background-color: rgb(7, 36, 37);
    cursor: pointer;
    color: whitesmoke;
}

#table1 {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    /* height: 500px;
    width: 500px; */
  }

  .row{
      height: 50px;
      width: 100%;
      display: flex;
      
    }

.cell{
    height: 100%;
    width: 100%;
}